body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: url("/public/freedom.jpg");
    padding: 20px;
    height: 528px;
    width: 100%;
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}
