
#product-overview {
    background-image: url("/public/freedom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 10% bottom 80%;
    background-origin: border-box; 
    background-clip: border-box;
    /* background-attachment: fixed; */
    padding: 20px;
    height: 528px;
    width: 100%;
    margin-top: 3%;
    position: relative;
    /* border: 10px dashed black; */
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 0;
    left: 16px;
}

.plan {
    background-color: #d5ffdc;
    text-align: center;
    padding: 60px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background-color: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;    
}

.plan--highlighted  .plan__price {
    color: #0e4f1f;
}

.plan--highlighted .plan__title {
    color: whitesmoke;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 8px 0;
}

.button {
    background-color: #0e4f1f;
    color: white;
    font: inherit;
    border: 2px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background-color: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

.plan__list {
   width: 80%;  
   margin: auto;
   text-align: center;
}

#key-features {
    background-color: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#key-features > .section-title {
    color: white;
    margin: 32px;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: top;
}

.key-feature__description {
    display: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    border: 2px solid #424242;
    height: 128px;
    border-radius: 64px;
    margin: auto;
} 