.testimonial {
  font-size: 1.2rem;
  /* margin: 3rem 0; */
}

/* .testimonial__list {
    width: 80%;
    margin: auto;
  }
   */
.testimonial:first-of-type {
  margin-top: 6rem;
}

.testimonial__image-container {
  width: 100%;
  /* max-width: 780px; */
  /* display: inline-block; */
  vertical-align: middle;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.testimonial__image {
  vertical-align: middle;
  width: 100%;
}

.testimonial__info {
  text-align: right;
  padding: 0.875rem;
  /* display: inline-block; */
  /* vertical-align: middle;
    width: 30%; */
}

#customer-2.testimonial {
  text-align: right;
}

#customer-2 .testimonial__info {
  text-align: left;
}

.testimonial__name {
  font-size: 2rem;
  margin: 0.2rem;
  color: #ff5454;
}

.testimonial__subtitle {
  margin: 0;
  font-size: 1.1rem;
  color: #ccc;
}

.testimonial__subtitle a {
  color: inherit;
  text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: #7a7a7a;
}

.testimonial__text {
  margin: 0.2rem;
}

@media (min-width: 40rem) {
  .testimonial {
    margin: 3rem auto;
    max-width: 1500px;
  }

  .testimonial__list {
    width: 80%;
    margin: auto;
  }

  .testimonial__image-container {
    width: 70%;
    max-width: 780px;
    display: inline-block;
  }

  .testimonial__info {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
  }
}
