.container {
    margin: 20px;
    display: grid;
    /* grid-template-columns: 200px  2fr 150px 1fr; */
    grid-template-columns: repeat(4, [col-start] 25% [col-end]);
    grid-template-rows: 10rem 10rem minmax(10px, 200px);
    height: 800px;
    grid-column-gap:20px;
    grid-row-gap: 10px;
    grid-template-areas: "header header header header" 
                         "side side main main"
                         "footer footer footer footer" ;

    /* 
    justify-items: stretch; // align items inside grid in horizontal axis 
    align-items: end; //     align items inside grid in vertical axis 
    */

    /* justify-content: center;
    align-content: center; */


}


.el1 {
    background: rgba(255, 154, 72, 0.5);
    /* grid-column: col-start 2 / col-end 2; */
    grid-area: side;
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    /* grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2; */
    grid-area: main;
    /* justify-self: center;
    align-self: end; */
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    /* grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: 3; */
    grid-area: header;

}

.el4 {
    background: rgba(0, 4, 255, 0.5);
    /* grid-column: col-start 1 / col-end 4; */
    grid-area: footer;
}

@media (max-width: 40rem) {
    .container {
        grid-template-rows: 5rem 5rem minmax(10px, 200px) 150px;
        grid-template-areas: "header header header header" 
        "main main main main"
        "side side side side"
        "footer footer footer footer" ;
    }
}