
.main-header {
  width: 100%;
  padding: 16px 16px;
  background-color: aqua;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 80px);
  vertical-align: middle;
}

.main-nav__item {
  margin-right: 10px;
  display: inline-block;
}

.main-nav__item > a {
  text-decoration: none;
  font-size: 18px;
  color: #0e4f1f;
  font-weight: 800;
  padding: 3px;
}

.main-nav__item > a::after {
  content: " (Link)";
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta > a {
  color: white;
  background: #ff1b68;
  border-radius: 8px;
  padding: 8px 16px;
}

.main-nav__item--cta > a:hover,
.main-nav__item--cta > a:active {
  color: #ff1b68;
  background: white;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  display: inline-block;
  height: 22px;
}

.main-header__brand > img {
  height: 100%;
}