
.main-header {
  width: 100%;
  padding: 16px 16px;
  background-color: aqua;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1;
  max-height: 4rem;
}

/*  Buttons  */
.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}
/* Buttons end */


/* Mobile nav start */
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}
/* Mobile nav end */

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 5rem);
  vertical-align: middle;
}

.main-nav__item {
  margin-right: 10px;
  display: inline-block;
}

.main-nav__item > a ,
.mobile-nav__item > a {
  text-decoration: none;
  font-size: 18px;
  color: #0e4f1f;
  font-weight: 800;
  padding: 3px;
}

.main-nav__item > a::after {
  content: " (Link)";
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta > a ,
.mobile-nav__item--cta > a {
  color: white;
  background: #ff1b68;
  border-radius: 8px;
  padding: 8px 16px;
}

.main-nav__item--cta > a:hover,
.main-nav__item--cta > a:active,
.mobile-nav__item--cta > a:hover,
.mobile-nav__item--cta > a:active {
  color: #ff1b68;
  background: white;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  display: inline-block;
  height: 22px;
}

.main-header__brand > img {
  height: 100%;
}

