body {
    font-family: 'Montserrat', sans-serif;
}


.main-footer {
    background-color: black;
    color: white;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-footer__link {
    display: inline-block;
    margin: 0 1rem;
}

.main-footer__link > a {
    color: white;
    text-decoration: none;
}

.main-footer__link > a:hover,
.main-footer__link > a:active {
    color: #ccc;
}