
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,100;1,400&display=swap');


@font-face {
  font-family: "SourceCodePro-Black";
  src: url("../public/static/sourceCodePro-black.ttf") format("truetype");
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* html {
  font-size: 75%;
} */

#root {
  display: grid; 
  grid-template-rows: auto 8rem;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.backdrop {
  display: none;
  position: fixed;
  z-index: 100;
  /* width: 80vmin; vmin = min (viewport hieght, viewport width)
  height: 70vmin; */
   width: 100vw; 
  height: 100vh;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
}

#content {
  /* min-height: calc(100vh - 4rem - 8rem); */
  margin-top: 4rem;
}

.button {
  background-color: #0e4f1f;
  color: white;
  font: inherit;
  border: 2px solid #0e4f1f;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: #ccc;
  color: #a1a1a1;
}